<p style="color: green"><%= notice %></p>

<%= render @colaborador %>

<div>
  <%= link_to "Edit this colaborador", edit_colaborador_path(@colaborador) %> |
  <%= link_to "Back to colaboradors", colaboradors_path %>

  <%= button_to "Destroy this colaborador", @colaborador, method: :delete %>
</div>
